.uk-container {
    position: relative;
}

.addPet {
    box-sizing: content-box;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: 1px solid #ff8429;
    background-color: white;
    width: 90%;
    max-width: 700px;
}

.addPet form {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    position: absolute;
    right: 0;
}

.icon button {
    position: static;
    right: 0;
    background-color: #efefee;
    border: none;
    padding: 10px;
    animation: 0.5s;
    font-size: 16px;
}

.icon button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.sideMargin {
    width: 90%;
}

textarea {
    resize: none;
}



.icon .uk-button {
    transition: 0.5s;
}

.icon .uk-button:hover {
    background-color: #ff8429;
    border-color: #ff8429;
    color: white;
}

.petImg {
    width: 90%;
    padding: 1rem;
    border-radius: 100%;
    object-fit: cover;
}

.uk-card {
    max-width: 300px;
}

@media (max-width: 720px){
    .addPet{
        top: 10%;
        left: 15%;
        transform: translate(-10%, -10%);
    }
}