<div class="nav-container">
  <div class="container uk-background-primary uk-light">
    <nav
      class="uk-navbar-container uk-margin uk-navbar-transparent navbar"
      uk-navbar
    >
      <svg
        id="btn-mobile"
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 -960 960 960"
        width="35px"
        fill="white"
        (click)="toggle = !toggle"
      >
        <path
          d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
        />
      </svg>

      <a href="#" class="uk-navbar-item uk-logo logo">
        <span
          class="uk-icon uk-margin-small-right"
          uk-icon="icon: icon-color-light; ratio: 0.15"
        ></span>
      </a>

      <div
        class="menu uk-navbar-left"
        [ngClass]="toggle ? 'activate' : 'disable'"
      >
        <ul class="uk-navbar-nav uk-navbar-left">
          <li>
            <a routerLink="/" routerLinkActive="uk-text-bold">Produtos</a>
          </li>
          <li>
            <a routerLink="account/pets" routerLinkActive="uk-text-bold"
              >Meus Pets</a
            >
          </li>
          <li><a href="#" routerLinkActive="uk-text-bold">Consultas</a></li>
        </ul>
      </div>

      <div class="uk-navbar-right right">
        <ul class="uk-navbar-nav">
          <li>
            <a routerLink="/cart">
              <span
                class="uk-icon uk-margi-small-right"
                uk-icon="icon: cart"
              ></span>
              <span class="uk-badge">{{ cartQuantity }}</span>
            </a>
          </li>
          <li [routerLink]="['/account/profile']">
            <a>
              <span
                class="uk-icon uk-margin-small-right"
                uk-icon="icon: user"
                >{{ user?.name }}</span
              >
            </a>
          </li>
          <li>
            <a (click)="logout()">
              Sair
              <span
                class="uk-icon uk-margin-small-right"
                uk-icon="icon: sign-out"
              ></span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
