/* You can add global styles to this file, and also import other style files */
* {
    font-family: "Montserrat", sans-serif !important;
}
.uk-form-danger {
    border: 1px solid red !important;
}

button:disabled {
    background-color: #efefee48 !important;
}